
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items     : center;

  color: #ffffff;
}


.header-TODO{
  width: 1250px;
    margin: 20px;
    border: 1px rgb(215, 194, 194) solid;
    box-shadow: 5px 5px 5px 5PX rgba(235, 212, 212, 0.8);
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
      height:8vh;
      letter-spacing: 15px;
      word-spacing:30px;
       color: #11e3c7; 
      text-shadow: 0 0 0px rgba(255, 255, 255, 0.6);
        background-color: white;
  }



.todo-grid{
  height: auto;
  color:black;
  width: 800px;
  display:grid;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.input-add{
  margin-bottom: 10px;

}
.todoInput{
  width: 629px;
  height: 25px;
    padding-left: 32px;
      font-size: larger;
    font-family: 'Russo One', sans-serif;
letter-spacing: 2px;
}
.add-button{
  width: 128px;
    height: 30px;
    background-color: rgb(73, 232, 73);
    border:none;
      font-size: larger;
}
.todo-div{
  display: flex;
  align-items: center;
  margin: 3px;
  margin-bottom:25px;
}
p{
  display:flex;
  width: 646px;
  height: 30px;
  margin:0px;
  box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.25);
  border: none;
  padding-left: 18px;
  padding-top: 6px;
font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
color: #0004ff;
letter-spacing: 3px;
font-size: 22px;
text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
background-color: rgb(255, 255, 255);



} 
  .delete-button{
    width: 128px;
    height: 33px;
    background-color: rgb(255, 74, 74);
    margin-left: 6px;
     box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.25);
     border: none;
    font-size: larger;
}
